<!DOCTYPE html>
<html lang='ja'>
<head>
<meta charset=utf-8>
<!-- For firefox audio tag -->
<script type='text/javascript' src='http://api.html5media.info/1.1.4/html5media.min.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
<script type="text/javascript">
$(function(){

	var tRes = null;
	var totalOffset = 0;

	function stopTrack(audioId){
		var aud = document.getElementById('aud_' + audioId);
		aud.pause();
	};

	function playTrack(audioId){
		var aud = document.getElementById('aud_' + audioId);
		aud.play();
	};

	function nextTrack(){
		stopTrack(tRes.currentNo + totalOffset);
		tRes.currentNo++;
		if(tRes.currentNo < tRes.resultCount){
			//Normal flow
			showAudioContents();
			playTrack(tRes.currentNo + totalOffset);
		}else{
			//All track played
			totalOffset += tRes.resultCount;
			defParam.offset = totalOffset;
			callTunesAPI(defParam);
		}
	};

	function showAudioContents(){
		var nowTrack = tRes.results[tRes.currentNo];
		var musicBlock
			= "<div>"
				+ "<div style='float:left;'>"
				+ "<img src=" + nowTrack.artworkUrl100 + ">"
				+ "</div>"
				+ "Track: " + nowTrack.trackName + "<br>"
				+ "Artist: " + nowTrack.artistName + "<br>"
				+ "Genre: " + nowTrack.primaryGenreName + "<br>"
				+ "<audio id=aud_" + (tRes.currentNo + totalOffset) + " controls src=" + nowTrack.previewUrl + ">"
					+ "<p>To play music, you need a browser that supports audio tag.</p>"
				+ "</audio>"
				+ "<div style='clear:both;'></div>"
			+ "</div>";

		$('div#history_head').after(musicBlock);
		addAudioHandler(tRes.currentNo + totalOffset);
	};

	function addAudioHandler(audioId){
			$('#aud_'+audioId).bind('play', function(){
				console.log('aud_' + audioId + ' play');
			});
			$('#aud_'+audioId).bind('playing', function(){
				console.log('aud_' + audioId + ' playing');
			});
			$('#aud_'+audioId).bind('ended', function(){
					console.log('aud_' + audioId + ' ended');
					nextTrack();
			});
	};

	function callTunesAPI(paramJSON){
		console.log(paramJSON);

		$.getJSON(
			'/tunesapi',
			paramJSON,
			function (data){
				tRes = data;
				console.log(tRes); //DEBUG

				if(tRes.resultCount != 0){
					//再生する楽曲の配列の要素番号
					tRes.currentNo = 0;	
					showAudioContents();
					playTrack(tRes.currentNo + totalOffset);
				}else{
					$('div#history_head').after("<p>No Result</p>");
				}
			}
		);
	};

	$('#next_btn').click(function(){
		nextTrack();
	});

	var defParam = {
				county: "<%= request.params['country'] || 'JP' %>",
				term: "<%= request.params['term'] || 'miku' %>",
				media: "<%= request.params['media'] || 'music' %>",
				entity: "<%= request.params['entity'] || 'song' %>",
				attribute: "<%= request.params['attribute'] || 'artistTerm' %>",
				limit: "<%= request.params['limit'] || 2 %>",
				offset: "<%= request.params['offset'] || 0 %>"
	};
	callTunesAPI(defParam);

})
</script>
<title>iTunesPreviewer</title>
</head>
<body>
<button id="next_btn">NEXT</button>
<div id="TL">
	<div id='history_head'></div>
</div>
<div id="log"></div>
</body>
</html>
